
/* 폰트 */
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'JalnanGothic';
    word-break: break-all;
  }

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #6B84F3;
    opacity: 1;
}

/* 마우스 호버 시 헤더 메뉴 속닥속닥 추가*/
@media screen and (min-width: 600px) {
    #header_bar:hover::before {
       content: "속닥속닥";
       position: absolute;
       left: 15%;
       font-size: 1.5rem;
       opacity: 1;
       transition: opacity 1s;
    }
    #header_bar:hover::after {
      content: "속닥속닥";
      position: absolute;
      right: 15%;
      font-size: 1.5rem;
      opacity: 1;
      transition: opacity 1s;
    }
}

.page-item.active .page-link {
    background-color: #6156F5;
    border-color: #6156F5;
}
  .header {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
  }
  
  .form_header {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }

  .write {
    font-family: 'SUITE-Regular';
    background-color: #ffcb46;
    color: #fff;
    height: 38px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top:20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .text-list {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 10px 0px rgba(13, 55, 145, 0.251);
    border-radius: 10px;
    padding: 15px;
    height: 50vh;
    border-width: 4px;
    border-style: solid;
    border-color: #76c2f8;
  }
  
  .text-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .title {
    cursor: pointer;
    width: 50%;
  }
  
  .title:hover {
    color: #6100ff;
  }
  
  .writer {
    color: #787878;
  }
  
  .btn {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .edit {
    background-color: #2add67;
    margin-right: 5px;
  }
  
  .delete {
    background-color: #ff6666;
  }
  
  /* write form modal */
  .hidden {
    display: none;
  }
  
  .write-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  
    background-color: rgb(204, 232, 247);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .read-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  
    background-color: #e5e5e5;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    height: 70vh;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  
  .fas {
    font-size: 30px;
  }
  
  /* form */
  .save {
    background-color: #ffcb46;
    color: #fff;
    height: 38px;
    width: 85px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    margin: auto;
  }
  
  .form-save {
    display: flex;
  }
  
  .form-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .form-writer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  #postText {
    display: flex;
    width: 100%;
    resize: none;
    margin-bottom: 10px;
  }
  
  .read-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .read-title {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 65%;
  }
  
  .read-writer {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 30%;
  }
  
  .read-zone {
    width: 100%;
  }
  
  .read-text {
    padding: 10px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    height: 50vh;
  }

/* 등록, 삭제, 수정 버튼별 css*/
.btn-create {
    background: -webkit-linear-gradient(28deg, rgb(127, 226, 238), rgb(83, 17, 249));
    background: linear-gradient(28deg, rgb(127, 226, 238), rgb(83, 17, 249));
}

.btn-update {
    background: -webkit-linear-gradient(25deg, rgb(87, 151, 124), rgb(26, 216, 45));
    background: linear-gradient(25deg, rgb(87, 151, 124), rgb(26, 216, 45));
}

.btn-delete {
  background: -webkit-linear-gradient(-131deg, rgb(255, 142, 68), rgb(199, 52, 52));
  background: linear-gradient(-131deg, rgb(255, 142, 68), rgb(199, 52, 52));
}

.navbar {
    background: -webkit-radial-gradient(rgb(212, 219, 255), rgb(219, 238, 255));
    background: radial-gradient(rgb(212, 219, 255), rgb(219, 238, 255));
}

/* table 반응형 */
.th_2w {
    min-width:55px;
}
.th_3w {
    min-width:75px;
}
.th_4w {
    min-width:95px;
}
.th_btn {
    min-width:75px;
}

#writeBtn {
    padding-left: 60px;
    padding-right: 60px;
    margin: 0px;
}

td {
    vertical-align: middle;
}

@media screen and (max-width: 430px) {
    table {
        font-size: 0.75rem;
    }
    th {
        font-size: 0.65rem;
    }
    .th_2w {
        min-width:40px;
    }
    .th_3w {
        min-width:55px;
    }
    .th_4w {
        min-width:70px;
    }
    .th_btn {
        min-width:50px;
    }
    .write {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    #writeBtn {
        font-size: 0.75rem;
        padding-left: 30px;
        padding-right: 30px;
    }


}