<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h6 class="my-3 pb-2" style="color: red;" th:text="${wrongPassword}"></h6>
  <h5 class="my-3 border-bottom pb-2">댓글 수정</h5>
    <h6 class="my-3 pb-2">수정하시고, 비밀번호를 입력하세요.</h6>
  <form th:action="@{|/comment/edit/${comment.id}|}" th:object="${commentForm}" method="post">
    <div class="mb-3">
      <label for="userName" class="form-label">작성자</label>
      <input type="text" name="userName" class="form-control" placeHolder="작성자" id="postWriter"
             maxlength="20" required oninput="countLength(20, this)" th:value="${comment.userName}">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">비밀번호</label>
      <input type="password" name="password" class="password" placeHolder="비밀번호" id="postPassword"
             maxlength="10" required oninput="countLength(10, this)">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea name="content" class="form-control" placeHolder="내용을 입력해 주세요"  rows="10" th:text="${comment.content}"></textarea>
    </div>
    <button type="submit" class="write">수정하기</button>
  </form>
</div>